---
# PE2 Provider Edge Router - Based on working L3VPN example
router_config:
  router_id: "10.0.0.4"
  interfaces:
    dummy:
      dum0:
        description: "Loopback for MPLS"
        address: "10.0.0.4/32"
    ethernet:
      eth0:
        description: "Management Interface"
        address: "192.168.100.15/24"
      eth1:
        description: "To P2"
        address: "10.3.4.4/24"
      eth2:
        description: "To CE2"
        address: "172.16.0.5/30"
        vrf: "A"
  vrf:
    A:
      table: 101
      rd: "65000:1"
      rt_both: "65000:1"
      export_vpn: true
      import_vpn: true
      label_vpn_export: "auto"
      bgp:
        asn: "65000"
        neighbors:
          "172.16.0.6":
            remote_as: "65002"
            description: "CE2"
        networks:
          - "172.16.0.4/30"
  protocols:
    ospf:
      interfaces:
        dum0:
          area: "0"
        eth1:
          area: "0"
          network_type: "point-to-point"
    bgp:
      asn: "65000"
      neighbors:
        "10.0.0.1":
          remote_as: "65000"
          update_source: "dum0"
          address_family:
            - "ipv4-vpn"
    mpls:
      interfaces:
        - "eth1"
      ldp:
        router_id: "10.0.0.4"
        transport_address: "10.0.0.4"
        interfaces:
          - "eth1"
    static:
      route:
        "0.0.0.0/0":
          next_hop: "192.168.100.1"
